# Processamento de Dados
polars
fastexcel
pandas
numpy
openpyxl

# Infraestrutura Cloud R2 e BigQuery
boto3
botocore
google-cloud-bigquery
google-auth
pyarrow

# Inteligência Artificial e Modelagem
scikit-learn
catboost
lightgbm
joblib

# Geo-análise e Utilitários
h3
holidays
requests
python-dotenv
pandas-gbq
follium
