# Processamento de Dados
pandas
pyarrow
numpy

# Inteligência Artificial (Ensemble)
lightgbm
catboost
scikit-learn
joblib

# Inteligência Geoespacial
h3

# Cloud e Infraestrutura (R2 e BigQuery)
boto3
google-cloud-bigquery

# Captura e Leitura de Arquivos
requests
openpyxl
